@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --cor01: #E1E2EF;
    --fundo: #05204A;

    --efeito: #8200fc99;

    --titulos: #8200fc;

    --fonte-titulo: 'Martian Mono';
    --fonte-padrao: 'Ubuntu';
}



.sec_galeria, .sec_galeria02 {
    width: 100%;
    padding-left: 3%;
    overflow: hidden;
}


.primeira h1 {
    padding: 30px 0px 5px 0px;
    width: 90%;
    margin: auto;
}

.segunda h1 {
    padding: 5px 0px;
    width: 90%;
    margin: auto;
}
  
.conteudo, .conteudo02 {
    white-space: nowrap;
}
  
.conteudo figure, .conteudo02 figure {
    display: inline-block;
    background-color: chartreuse;
    width: 65%; /* Defina a largura desejada para as imagens */
    height: 280px; /* Defina a altura desejada para as imagens */
    margin: 5px 8px;
    position: relative;
}

.conteudo img, .conteudo02 img{
    width: 100%;
    height: 100%;
    position: absolute;
}

@media only screen and (max-width: 580px) {
    .conteudo figure, .conteudo02 figure {
        width: 400px; /* Defina a largura desejada para as imagens */
        height: 150px;
    }
}